# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# Dotfiles
.*

# Build artifacts
*.o
*.s
*.d
*.so
compile_commands.json
gcc/asm.h
__pycache__

!.gitattributes
!.gitignore
!.gitmodules
