[submodule "bench/tacle-bench"]
	path = bench/tacle-bench
	url = https://github.com/iostapyshyn/tacle-bench.git
	ignore = dirty

[submodule "bench/cortexsuite"]
	path = bench/cortexsuite
	url = https://bitbucket.org/taylor-bsg/cortexsuite.git
	ignore = dirty

[submodule "memtier/memtier_benchmark"]
	path = memtier/memtier_benchmark
	url = https://github.com/RedisLabs/memtier_benchmark.git
        ignore = dirty
